.row {
 
   display: flex;
   background-color: Grey; 
}

.row_cell {
 
   flex: 1;
}

.row_cell--2 {
 
   flex: 2;
   background-color: Silver; 
}

.row_cell--3 {
 
   flex: 3;
   background-color: Silver; 
}

.row_cell--top {
 
  align-self: flex-start;
  background-color: Silver; 
}

.row_cell--bottom {
 
   align-self: flex-end;
   background-color: Silver; 
}
