body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5B5A5C;
}

.form {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.form-text {
    height: 70px;
    width: 900px;
    border: none;
    border-radius: 0px;
}

.form-icon {
    height: 70px;
    width: 70px;
    background-color: #ACABAE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
